@using COE.Common.Localization
@using Commons.Framework.Globalization

<!DOCTYPE html>
<html lang="@CultureHelper.CurrentLanguage" dir="@CultureHelper.CurrentDirection">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COE | @ViewData["Title"]</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/style.css")">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous" />


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    @*<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>*@
    <script src="~/Content/js/main.js"></script>
    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>

<body>

    <main class="d-flex flex-column landing">
        <!-- Navbar -->
        <nav class="landing__navbar">
            <div class="d-flex container justify-content-between align-items-center">
                <a href="/">
                    <img src="~/Content/images/coe-logo.svg" />
                </a>

                <!-- Language dropdown -->
                <div>



                    @if (ViewBag.HideCustomButton != true)
                    {
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle landing__lang d-flex"
                                    type="button" id="dropdownMenuButton"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                <img src="~/Content/images/Group.svg" alt="lang-flag" />
                                @string.Format("{0}", CultureHelper.IsArabic ? "العربية" : "English")
                            </button>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" href="#" id="english">English</a>
                                <a class="dropdown-item" href="#" id="arabic">العربية</a>
                            </ul>
                        </div>
                    }


                    <a class="landing__btn d-none" href="@Url.Action("Login","Account")" style="text-decoration: none;">
                        @SurveysResources.Logout
                    </a>
                </div>
            </div>
        </nav>



        @RenderBody()

    </main>

    <footer class="border-top footer text-muted py-3 mt-4">
        <div class="container">
            &copy; 2023 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <div id="loadingOverlay" class="d-none" style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background-color: rgba(255, 255, 255, 0.8); z-index: 9999;">
        <img src="~/Content/images/imageloder.gif" alt="Loading" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);  height: 80px;">
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>


</body>



</html>
