@using Commons.Framework.Web.Mvc.Helpers
@model COE.Common.Model.ViewModels.AccountViewModel


<!-- Full-width row -->
<div class="row justify-content-between">
    <!-- First column (half-width) -->
    <div class="col-md-6 d-flex flex-column mt-3">
        @Html.LabelFor(model => model.FullName, new { @class = "form-label" })
        @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.FullName, string.Empty, new { @class = "text-danger help-block" })
    </div>
    <div class="col-md-6 d-flex flex-column mt-3">
        @Html.LabelFor(model => model.Email, new { @class = "form-label" })
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control text-left ltr" })
        @Html.ValidationMessageFor(model => model.Email, string.Empty, new { @class = "text-danger help-block" })
    </div>

    <!-- Second column (half-width) -->
    <div class="col-md-6 d-flex flex-column mt-3">
        @Html.LabelFor(model => model.EmailConfirm, new { @class = "form-label" })
        @Html.TextBoxFor(model => model.EmailConfirm, new { @class = "form-control text-left ltr" })
        @Html.ValidationMessageFor(model => model.EmailConfirm, string.Empty, new { @class = "text-danger help-block" })
        </div>
    <div class="col-md-6 d-flex flex-column mt-3">
        @Html.LabelFor(model => model.PhoneNumber, new { @class = "form-label" })
        @Html.TelInputFor(model => model.PhoneNumber, null, new { @class = "form-control", MaxLength = "15" })
        @Html.ValidationMessageFor(model => model.PhoneNumber, string.Empty, new { @class = "text-danger help-block" })
    </div>
</div>

<!-- Additional form elements in two-column layout -->
<div class="row justify-content-between">
    <div class="col-md-6 d-flex flex-column mt-3">
        @Html.LabelFor(model => model.UserName, new { @class = "form-label" })
        @Html.TextBoxFor(model => model.UserName, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.UserName, string.Empty, new { @class = "text-danger help-block" })
    </div>

    <div class="col-md-6 d-flex flex-column mt-3">
        @Html.LabelFor(model => model.Password, new { @class = "form-label" })
        @Html.PasswordFor(model => model.Password, new { @class = "form-control text-left ltr" })
        @Html.ValidationMessageFor(model => model.Password, string.Empty, new { @class = "text-danger help-block" })
    </div>

    <div class="col-md-6 d-flex flex-column mt-3">
        @Html.LabelFor(model => model.ConfirmPassword, new { @class = "form-label" })
        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control text-left ltr" })
        @Html.ValidationMessageFor(model => model.ConfirmPassword, string.Empty, new { @class = "text-danger help-block" })
    </div>
</div>
