@using COE.Common.Localization.Security
@using COE.Common.Localization;
@using Commons.Framework.Web.Mvc.Helpers
@model COE.Common.Model.ViewModels.AccountViewModelEdit

@{
    ViewBag.Title = SecurityResources.EditUser;
    ViewBag.ModuleTitle = SecurityResources.Users;

}



<section class="d-flex landing__content flex-column container">
    <div class="landing__container survey-approve d-flex flex-column">

        <h1>@SecurityResources.EditUser</h1>


        @using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { @class = "row w-100", role = "form", id = "registerForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-12">
                    @if (ViewBag.SuccessMessage != null && !string.IsNullOrEmpty(ViewBag.SuccessMessage))
                    {
                        <div class="alert alert-@ViewBag.MessageType alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="text-decoration:none;">
                                <i class="fa fa-times" style="color:darkred;"></i>
                            </a>
                            <strong>@ViewBag.SuccessMessage</strong>
                        </div>
                    }
                </div>
            </div>


            <div class="row">
                @Html.ValidationSummary(false, string.Empty, new { @class = "text-danger help-block" })
                <div class="OnlineView @ViewBag.DisplayOnline">
                    <div class="col-md-6 mt-3">
                        @Html.LabelFor(model => model.FullName, new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FullName, string.Empty, new { @class = "text-danger help-block" })
                    </div>
                    <div class="col-md-6 mt-3">
                        @Html.LabelFor(model => model.Email, new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control text-left ltr" })
                        @Html.ValidationMessageFor(model => model.Email, string.Empty, new { @class = "text-danger help-block" })
                    </div>

                    <div class="col-md-6 mt-3">
                        @Html.LabelFor(model => model.PhoneNumber, new { @class = "form-label" })
                        @Html.TelInputFor(model => model.PhoneNumber, null, new { @class = "form-control", MaxLength = "15" })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, string.Empty, new { @class = "text-danger help-block" })
                    </div>
                    <div class="col-md-6 mt-3">
                        @Html.LabelFor(model => model.UserName, new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.UserName, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserName, string.Empty, new { @class = "text-danger help-block" })
                    </div>
                    <div class="col-md-6 mt-3">
                        @Html.LabelFor(model => model.IsActive, new { @class = "form-label" })
                        @Html.CheckBoxFor(model => model.IsActive)
                    </div>
                </div>
                <div class="ADView row @ViewBag.DisplayAD">
                    <div class="col-md-6 mt-3">
                        @Html.LabelFor(model => model.AccountViewModelActiveDirectory.FullName, new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.AccountViewModelActiveDirectory.FullName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AccountViewModelActiveDirectory.FullName, string.Empty, new { @class = "text-danger help-block" })
                    </div>
                    <div class="col-md-6 mt-3">
                        @Html.LabelFor(model => model.AccountViewModelActiveDirectory.UserName, new { @class = "form-label" })
                        @Html.TextBoxFor(model => model.AccountViewModelActiveDirectory.UserName, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.AccountViewModelActiveDirectory.UserName, string.Empty, new { @class = "text-danger help-block" })
                    </div>
                    @*<div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.AccountViewModelActiveDirectory.IsActive, new { @class = "form-label" })
                            @Html.CheckBoxFor(model => model.AccountViewModelActiveDirectory.IsActive)
                        </div>
                    </div>*@
                </div>

            </div>
            


            <!-- Action btn -->
            <div class="d-flex survey-approve__actions">
                <button class="survey-approve__approve-btn" type="submit">
                    @SharedResources.Save
                </button>

                <a class="survey-approve__reset-btn" href="@Url.Action("Index", "Users",new { UserType = Request.QueryString["type"],uid= ViewContext.RouteData.Values["id"] })" style="text-decoration: none; text-align: center;">
                    @SharedResources.Cancel
                </a>
            </div>


        }

    </div>
</section>