@model  COE.Common.Model.AspNetRoles
@using COE.Common.Localization;
@{
    ViewBag.Title = "";//DCSResources.AttendanceModuleTitle;
    ViewBag.ModuleTitle = "";//DCSResources.AttendanceModuleTitle;
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@using (Html.BeginForm("AddRole", "Security", FormMethod.Post, new { @class = "", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">

            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-search"></i> @COE.Common.Localization.Security.SecurityResources.Title_CreateRole
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="#">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Code, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions right">
                            <button type="submit" class="btn green">@SharedResources.Save</button>
                            <a class="btn red" href="/Security/Index">@SharedResources.Cancel</a>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
}


