@model  List<COE.Common.Model.AspNetRoles>
@using COE.Common.Localization.Security;
@using COE.Common.Localization;

@{
    ViewBag.Title = @SecurityResources.UserRoles;
    ViewBag.ModuleTitle = SecurityResources.Users;

    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2></h2>
@using (Html.BeginForm("UserRole", "Security", FormMethod.Post, new { @class = "", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            @if (TempData["SuccessMessage"] != null && !string.IsNullOrEmpty(TempData["SuccessMessage"].ToString()))
                {
                <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>@TempData["SuccessMessage"]</strong>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet box green">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-th-list" aria-hidden="true"></i>@SecurityResources.Roles
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div>
                        @if (Model != null)
                        {
                            if (Model.Count > 0)
                            {
                                <table class="table table-striped table-bordered table-advance table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-md-1"></th>
                                            <th> @SecurityResources.Name </th>
                                            <th> @SecurityResources.Code </th>
                                            @*<th class="col-xs-1"> @SecurityResources.Actions </th>*@
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @for (int i = 0; i < Model.Count; i++)
                                        {
                                            <tr id="@Model[i].Id">
                                                <td>
                                                    @Html.HiddenFor(model => model[i].Id)
                                                    @Html.CheckBoxFor(model => model[i].IsSelected)
                                                </td>
                                                <td> @Html.DisplayFor(model => model[i].Name)@Html.HiddenFor(model => model[i].Name)</td>
                                                <td> @Html.DisplayFor(model => model[i].Priority)@Html.HiddenFor(model => model[i].Priority)</td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            }
                        }
                        else
                        {
                            <div class="noResults">
                                @SharedResources.NoDataToDisplay
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions right">
        <button type="submit" class="btn green"><i class="fa fa-save fa-fw" aria-hidden="true"></i>@SharedResources.Save</button>
        <a class="btn red" href="@Url.Action("Users", "security",new { UserType = Request.QueryString["type"],uid= ViewContext.RouteData.Values["id"] })">@SharedResources.Back</a>

    </div>

}
