@using Commons.Framework.Web.Mvc.Helpers
@using COE.Enrollment.Helpers
@using COE.Common.Localization
@model  COE.Enrollment.Model.ViewModels.AccountViewModel

@{
    ViewBag.Title = UsersMgmtResources.EditMyProfile;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    if (Model != null)
    {

        @Html.ValidationSummary(true, string.Empty, new { @class = "text-danger help-block" })
        @Html.HiddenFor(model => model.Id)

        <div class="panel panel-default">
            <div class="panel-heading">@ViewBag.Title</div>

            @Html.Partial("_Header")


            <div class="panel-body">
                <div class="col-md-6">
                    <div class="form-group form-group-lg">
                        @Html.LabelFor(model => model.FullName, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.FullName, string.Empty, new { @class = "text-danger help-block" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-lg">
                        @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label" })
                        @Html.TelInputFor(model => model.PhoneNumber, null, new { @class = "form-control", MaxLength = "15" })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, string.Empty, new { @class = "text-danger help-block" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-lg">
                        @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control text-left ltr" })
                        @Html.ValidationMessageFor(model => model.Email, string.Empty, new { @class = "text-danger help-block" })
                    </div>
                </div>

                @*<div class="col-md-6">
                        <div class="form-group form-group-lg">
                            @Html.LabelFor(model => model.CountryId, new { @class = "control-label" })
                            @Html.DropDownList2For(model => model.CountryId, LookupsHelper.GetAllCountries(), SharedResources.Select, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CountryId, string.Empty, new { @class = "text-danger help-block" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-lg">
                            @Html.LabelFor(model => model.DefaultLanguageId, new { @class = "control-label" })
                            @Html.DropDownList2For(model => model.DefaultLanguageId, LookupsHelper.GetAllLanguages(), SharedResources.Select, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DefaultLanguageId, string.Empty, new { @class = "text-danger help-block" })
                        </div>
                    </div>*@

            </div>
        </div>

    }

    <div class="row">
        <div class="col-md-12 text-left">
            <input type="submit" value="@SharedResources.Save" class="btn btn-nor-primary btn-lg" />
            <a href="/" class="btn btn-nor-primary btn-lg enable-overlay">@SharedResources.Back</a>
        </div>
    </div>
}

@section Scripts {

    <script src="~/Scripts/bootstrap3-typeahead.min.js"></script>
    <script type="text/javascript">

        $(function () {
        });


    </script>
}