@using Commons.Framework.Web.Mvc.Helpers
@using COE.Common.Localization
@model COE.Common.Model.ViewModels.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = UsersMgmtResources.ResetPassword;
}
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
{
    if (Model != null)
    {
        @Html.AntiForgeryToken()
        <div class="panel panel-default panel-green">
            <div class="panel-heading">@ViewBag.Title</div>
            <div class="panel-body clearfix">

                <div class="col-md-6">
                    <div class="form-group form-group-lg">
                        @Html.Label(UsersMgmtResources.Email, new { @class = "control-label" })<span class="required"> * </span>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-solid placeholder-no-fix", @dir = "ltr" })
                        @Html.ValidationMessageFor(model => model.Email, string.Empty, new { @class = "text-danger help-block" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-lg">
                        @Html.Label(UsersMgmtResources.NationalId, new { @class = "control-label" })<span class="required"> * </span>
                        @Html.TextBoxFor(model => model.NationalId, new { @class = "form-control form-control-solid placeholder-no-fix", @dir = "ltr" })
                        @Html.ValidationMessageFor(model => model.NationalId, string.Empty, new { @class = "text-danger help-block" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-lg">
                        @Html.Label(AppResources.BirthDate, new { @class = "control-label" })<span class="required"> * </span>
                        @*@Html.TextBoxFor(model => model.BirthYear, new { @id = "mask_date2", @class = "form-control form-control-solid placeholder-no-fix", @dir = "ltr" })*@
                        @Html.DatePickerFor(model => model.BirthDate, new DatePickerSettings { CalendarType = CalendarType.ummalqura, PickerYearRange = "c-35:c+10" }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BirthDate, string.Empty, new { @class = "text-danger help-block" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <div class="g-recaptcha" data-sitekey="@System.Configuration.ConfigurationManager.AppSettings["RecaptchaPublicKey"]" data-theme="light"
                             data-callback="recaptchaCallback"></div>
                        @Html.HiddenFor(model => model.RecaptchaResponse)
                        @Html.ValidationMessageFor(model => model.RecaptchaResponse, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-xs-6">
                        @Html.CaptchaFor(model => model.Captcha)
                    </div>
                </div>*@

            </div>
        </div>
    }

    <div class="row">
        <div class="col-xs-6"> </div>
        <div class="col-xs-6 text-left">
            @if (Model != null)
            {
                <input type="submit" class="btn btn-success" value="@UsersMgmtResources.EmailPasswordLink" />
            }
            <a href="@Url.Action("Login","Account",new { Area=""})" class="btn btn-primary">@SharedResources.Back</a>
        </div>
    </div>
}

@section scripts {


    @*@Scripts.Render("~/Content/theme_rtl/assets/global/plugins/jquery.min.js")*@
    @Scripts.Render("~/Content/theme_rtl/assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js")
    @Scripts.Render("~/Content/theme_rtl/assets/global/plugins/jquery.input-ip-address-control-1.0.min.js")
    @Scripts.Render("~/Content/theme_rtl/assets/global/scripts/app.min.js")
    @Scripts.Render("~/Content/theme_rtl/assets/pages/scripts/form-input-mask.min.js")
}