@using System.Web.Optimization
@using Commons.Framework.Extensions
@using Commons.Framework.Web.Mvc.Helpers
@using COE.Common.Localization
@model COE.Enrollment.Model.ViewModels.LoginViewModel


@{
    ViewBag.Title = UsersMgmtResources.Login;
    Layout = null;

}




<!DOCTYPE html>
<html lang="ar">
<head>
    <title>@AppResources.SCTH - @ViewBag.Title</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="/Content/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0, user-scalable=no" />
    <!--[if lt IE 8]>
    <script src="js/html5.js"></script>
    <script src="js/css3-mediaqueries.js"></script>
    <![endif]-->
    <link href="/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link id="SCTHCustomStyle" href="/Content/css/login.css" rel="stylesheet" type="text/css">
    @*<link id="SCTHCustomStyleLogin" href="/Content/css/app_rtl.css" rel="stylesheet" type="text/css">*@
</head>
<body>
<div class="main_div">
    <div class="header">
        <a href="/" title="@SharedResources.MainPage"><img alt="" src='/Content/images/header_logo.png' class="header_logo" /></a>
        <div class="clr"></div>
    </div>
    @Html.Partial("_Header")


    @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", defaultbutton = "SubmitButton", id = "loginForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="clr"></div>

        <div class="form-group form-group-lg">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control ltr", @autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.Email, string.Empty, new { @class = "text-danger help-block" })
        </div>
        <div class="form-group form-group-lg clearfix">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control ltr", @autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.Password, string.Empty, new { @class = "text-danger help-block" })

        </div>
    
        if (Model != null && Model.CaptchaRequired.To<bool>())
        {
            <div class="app_captcha">
                <div class="form-group form-group-ol captcha-control">
                    @Html.CaptchaFor(model => model.Captcha)
                    @Html.ValidationMessageFor(model => model.Captcha, string.Empty, new { @class = "text-danger help-block" })
                </div>
            </div>
        }
        <div class="btn_row">
            <button class="btn" type="submit" id="SubmitButton">@UsersMgmtResources.Login</button>
            <a href="@Url.Action("ForgotPassword")" class="btn">@UsersMgmtResources.ForgetPassword</a>

        </div>


    }
@using (Html.BeginForm("ExternalLogin", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new {id="socialForm", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="options">
        <input type="submit" provider="Facebook" value="Facebook"/>
        <a class="facebook" id="btnFacebookLogin" href="#" title="@Html.Raw(UsersMgmtResources.FacebookLogin)"><i class="fa fa-facebook-square" aria-hidden="true"></i>@Html.Raw(UsersMgmtResources.FacebookLogin)</a>
        <a class="twitter" href="#" title="@Html.Raw(UsersMgmtResources.TwitterLogin)"><i class="fa fa-twitter-square" aria-hidden="true"></i>@Html.Raw(UsersMgmtResources.TwitterLogin)</a>
        <a class="newuser" href="/Account/Register" title="@Html.Raw(UsersMgmtResources.RegisterNewUser)"><i class="fa fa-user-plus" aria-hidden="true"></i>@Html.Raw(UsersMgmtResources.NewUserJoinUs)</a>
        <div class="clr"></div>
    </div>
}
</div>

    @Scripts.Render("~/bundles/scripts")
    <script src="~/Scripts/common.js"></script>
<script src="~/Scripts/custom.js"></script>
<script type="text/javascript">

</script>

</body>
</html>