@using System.Web.Optimization
@using Commons.Framework.Extensions
@using Commons.Framework.Web.Mvc.Helpers
@using COE.Common.Localization
@using COE.Enrollment.Model.ViewModels
@using COE.Common.Localization

@model LoginViewModel

@{
    ViewBag.Title = UsersMgmtResources.Login;
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" dir="rtl">
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Login </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #2 for " name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Content/theme/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/theme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/theme/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/theme/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/Content/theme/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/theme/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/Content/theme/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/Content/theme/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/Content/theme_rtl/assets/pages/css/login-rtl.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<body class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="index.html">
            <img src="~/Content/theme/assets/pages/img/logo-default.png" alt="" style="width:400px;height:100px" />
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        @Html.Partial("_Header")
        @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form", defaultbutton = "SubmitButton", id = "loginForm" }))
        {
            @Html.AntiForgeryToken()
            @*<form class="login-form" method="post" id="loginForm">*@
            <h3 class="form-title font-green">@UsersMgmtResources.SignIn</h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span>@UsersMgmtResources.EnterCredentials</span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">@UsersMgmtResources.UserName</label>
                <input class="form-control form-control-solid placeholder-no-fix" required type="text" autocomplete="off" placeholder="@UsersMgmtResources.UserName" name="UserName" />
                @*@Html.TextBoxFor(m => m.UserName, new { @class = "form-control form-control-solid placeholder-no-fix", @autocomplete = "off", @placeholder = "Username" })*@
                @Html.ValidationMessageFor(m => m.UserName, string.Empty, new { @class = "text-danger help-block" })
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">@UsersMgmtResources.Password</label>
                <input class="form-control form-control-solid placeholder-no-fix" required type="password" autocomplete="off" placeholder="@UsersMgmtResources.Password" name="Password" />
                @*@Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-solid placeholder-no-fix", @autocomplete = "off", @placeholder = "Password" })*@
                @Html.ValidationMessageFor(m => m.Password, string.Empty, new { @class = "text-danger help-block" })
            </div>
            if (Model != null && Model.CaptchaRequired.To<bool>())
            {
                <div class="app_captcha">
                    <div class="form-group captcha-control">
                        @Html.CaptchaFor(model => model.Captcha)
                        @Html.ValidationMessageFor(model => model.Captcha, string.Empty, new { @class = "text-danger help-block" })
                    </div>
                </div>
            }
            <div class="form-actions">
                <button type="submit" class="btn green uppercase">@UsersMgmtResources.Login</button>
                <label class="rememberme check mt-checkbox mt-checkbox-outline">
                    <input type="checkbox" name="RememberMe" value="true" />@UsersMgmtResources.Remember
                    <span></span>
                </label>
                <a href="javascript:;" id="forget-password" class="forget-password">@UsersMgmtResources.ForgotPassword</a>
            </div>
            <div class="login-options">
                <h4>@UsersMgmtResources.LoginWith</h4>
                <ul class="social-icons">
                    <li>
                        <a class="social-icon-color facebook" data-original-title="facebook" href="javascript:;"></a>
                    </li>
                    <li>
                        <a class="social-icon-color twitter" data-original-title="Twitter" href="javascript:;"></a>
                    </li>
                    <li>
                        <a class="social-icon-color googleplus" data-original-title="Goole Plus" href="javascript:;"></a>
                    </li>
                    <li>
                        <a class="social-icon-color linkedin" data-original-title="Linkedin" href="javascript:;"></a>
                    </li>
                </ul>
            </div>
            <div class="create-account">
                <p>
                    <a href="javascript:;" id="register-btn" class="uppercase">@UsersMgmtResources.CreateAnAccount</a>
                </p>
            </div>
            @*</form>*@
        }
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form" action="index.html" method="post" id="forgetForm">
            <h3 class="font-green">@UsersMgmtResources.ForgotPassword</h3>
            <p> @UsersMgmtResources.ResetYourPassword</p>
            <div class="form-group">
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="@UsersMgmtResources.Email" name="Email" />
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn green btn-outline">@SharedResources.Back</button>
                <button type="submit" class="btn btn-success uppercase pull-right">@SharedResources.Submit</button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
        <!-- BEGIN REGISTRATION FORM -->
        @Html.Partial("SignUp", new AccountViewModel())
        <!-- END REGISTRATION FORM -->
    </div>
    <div class="copyright"> <a target="_blank" href="http://www.coe.com.sa">@string.Format(@SharedResources.Copyright, DateTime.Now.Year)</a> </div>
    <!--[if lt IE 9]>
    <script src="~/Content/theme/assets/global/plugins/respond.min.js"></script>
    <script src="~/Content/theme/assets/global/plugins/excanvas.min.js"></script>
    <script src="~/Content/theme/assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/Content/theme/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/theme/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/theme/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/Content/theme/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Content/theme/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Content/theme/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Content/theme/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/Content/theme/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="~/Content/theme/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/Content/theme/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Content/theme/assets/pages/scripts/login.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <!-- END THEME LAYOUT SCRIPTS -->
    <!-- BEGIN CUSTOM SCRIPTS -->
    <script>

    </script>
    <!-- END CUSTOM SCRIPTS -->
</body>
</html>