@using COE.Common.BLL
@using COE.Common.Localization
@using Commons.Framework.Extensions
@using Commons.Framework.Web.Mvc.Helpers
@using COE.Common.Model.ViewModels
@using Commons.Framework.Globalization

@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = UsersMgmtResources.TermsOfService;
    var userRoles = UsersFacade.CurrentUserRoles;
}

<!DOCTYPE html>

<html lang="@CultureHelper.CurrentLanguage" dir="@CultureHelper.CurrentDirection">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta charset="utf-8" />
    <title>Login </title>
    <meta content="Preview page of Metronic Admin Theme #2 for " name="description" />
    <meta content="" name="author" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/login.css")">

    <link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>


<body >


    @Html.AntiForgeryToken()
    <main class="d-flex login">
        <figure class="login__banner">
            <img src="@Url.Content("~/Content/images/Image.png")" alt="coe-banner" />
        </figure>

        <section class="login__container d-flex flex-column">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle d-flex"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <img src="@Url.Content("~/Content/images/Frame.svg")" /> <span>@string.Format("{0}", CultureHelper.IsArabic ? "العربية" : "English")</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" id="arabic">العربية</a></li>
                    <li><a class="dropdown-item" href="#" id="english">English</a></li>
                </ul>
            </div>


            @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "d-flex flex-column justify-content-center align-items-center", role = "form", defaultbutton = "SubmitButton", id = "loginForm" }))
            {

                <div class="d-flex flex-column">
                    <h1 class="login__title">@UsersMgmtResources.EnterCredentials</h1>

                    <div class="login__input">
                        <label class="form-label">@UsersMgmtResources.UserName</label>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="name@example.com" name="UserName" />
                        @Html.ValidationMessageFor(m => m.UserName, string.Empty, new { @class = "text-danger help-block" })
                    </div>

                    <div class="login__input">
                        <label class="form-label">@UsersMgmtResources.Password</label>
                        <input class="form-control mb-2 placeholder-no-fix" type="password" autocomplete="off" placeholder="@UsersMgmtResources.Password" name="Password" />
                        @Html.ValidationMessageFor(m => m.Password, string.Empty, new { @class = "text-danger help-block" })


                        <input class="form-check-input"
                               type="checkbox"
                               value=""
                               id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">
                            @UsersMgmtResources.Remember
                        </label>
                    </div>

                    <button type="submit" class="login__submit-btn">@UsersMgmtResources.Login</button>
                </div>


            }
        </section>


    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>

    <script src="~/Content/js/main.js" defer></script>

</body>
</html>


