@model COE.Common.Model.ViewModels.ResetPasswordViewModel
@using COE.Common.Localization

@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = UsersMgmtResources.ResetPassword;
}


@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    if (Model != null)
    {
        @Html.HiddenFor(m => m.UserId)
        @Html.HiddenFor(m => m.Code)

        <div class="panel panel-default panel-green">
            <div class="panel-heading">@ViewBag.Title</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-group-lg">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control text-left" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-group-lg">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control text-left" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger help-block" })
                        </div>
                    </div>
                </div>
                </div>
        </div>

    }

    <div class="row">
        <div class="col-xs-6"> </div>
        <div class="col-xs-6 text-left">
            @if (Model != null)
            {
                <input type="submit" class="btn btn-success" value="@SharedResources.Edit"/>
            }
            <a href="@Url.Action("Login","Account",new { Area=""})" class="btn btn-primary">@SharedResources.Back</a>
        </div>
    </div>

}
