@model COE.Survey.Web.ViewModels.SurveyAllAnswers

@{
    ViewBag.Title = @SurveysResources.Dashboard + " | " + Model.SurveyTitle;
}


<script type="text/javascript" src="https://unpkg.com/knockout/build/output/knockout-latest.js"></script>
<script src="https://unpkg.com/survey-core@1.9.106/survey.core.min.js"></script>
<script src="https://unpkg.com/survey-core@1.9.106/survey.i18n.min.js"></script>
<script src="~/scripts/tabulator.min.js"></script>
<script src="~/scripts/jspdf.min.js"></script>
<script src="~/scripts/jspdf.plugin.autotable.min.js"></script>
<script src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
<script src="https://unpkg.com/survey-analytics@1.9.106/survey.analytics.tabulator.min.js"></script>
<script src="https://unpkg.com/wordcloud@1.1.0/src/wordcloud2.js"></script>
<script src="https://unpkg.com/plotly.js-dist-min/plotly.min.js"></script>
<script src="https://unpkg.com/survey-analytics@1.9.106/survey.analytics.min.js"></script>
<link rel="stylesheet" href="~/Content/css/tabulator.min.css" />
<link rel="stylesheet" href="https://unpkg.com/survey-analytics@1.9.106/survey.analytics.tabulator.css" />


<!-- SurveyJS Dashboard resources-->
<link href="https://unpkg.com/survey-analytics/survey.analytics.min.css" rel="stylesheet">
<script src="https://unpkg.com/survey-analytics/survey.analytics.min.js"></script>

<section class="d-flex landing__content flex-column container">
    <div class="landing__container survey-dashboard d-flex flex-column">
        <h1>@SurveysResources.Dashboard</h1>

        <h2>@Model.SurveyTitle</h2>

        <div class="survey-actions d-flex">
            <a href="@Url.Action("Result", "Surveys", new { Id = Model.Id })" class="survey-actions__action">@SurveysResources.Table</a>
            <a href="@Url.Action("Dashboard", "Surveys", new { Id = Model.Id })" class="survey-actions__active survey-actions__action">@SurveysResources.Dashboard</a>
        </div>

        <div id="surveyVizPanel"></div>
    </div>
</section>






<script type="text/javascript">

    var selectedLang = getLanguage();

      var surveyAsJson = '@Model.ContentJson';
  var surveyJson = surveyAsJson.replace(/\\&quot;/g, '\\\'').replace(/\\/g, "").replace(/&quot;/g, '"').replace(/\\/g, "").replace(/&#39;/g, "'").replace(/[\0-\x1F\x7F-\x9F]/g, "");

  var answerAsJson = '@Model.AnswerItems';
  var answerJson = answerAsJson.replace(/\\&quot;/g, '\\\'').replace(/\\/g, "").replace(/&quot;/g, '"').replace(/\\/g, "").replace(/&#39;/g, "'").replace(/[\0-\x1F\x7F-\x9F]/g, "");

    var dataFromServer = JSON.parse(answerJson);



   

    var surveyResults = JSON.parse(answerJson);



    const survey = new Survey.Model(surveyJson);



    const vizPanelOptions = {
        allowHideQuestions: false,
        haveCommercialLicense: true
    }

    SurveyAnalytics.localization.currentLocale = selectedLang;


    Survey.setLicenseKey(
        "ZDdhYjZhM2YtYTZjZi00MTI1LWFmYjMtMWI5M2RkYjQ0NDgwOzE9MjAyNC0wOC0zMSwyPTIwMjQtMDgtMzEsND0yMDI0LTA4LTMx"
    );


    const vizPanel = new SurveyAnalytics.VisualizationPanel(
        survey.getAllQuestions(),
        surveyResults,
        vizPanelOptions
    );

    document.addEventListener("DOMContentLoaded", function () {
        vizPanel.render("surveyVizPanel");
    });






</script>
