

@model COE.Common.Model.Survey

@{
    ViewBag.Title = @SurveysResources.EditSurvey + " | " + Model.SurveyTitle;
}


<!-- ... -->
<script type="text/javascript" src="https://unpkg.com/knockout/build/output/knockout-latest.js"></script>

<!-- SurveyJS resources -->
<link href="https://unpkg.com/survey-core/defaultV2.min.css" type="text/css" rel="stylesheet">
<script src="https://unpkg.com/survey-core/survey.core.min.js"></script>
<script src="https://unpkg.com/survey-knockout-ui/survey-knockout-ui.min.js"></script>

<!-- Survey Creator resources -->
<link href="https://unpkg.com/survey-creator-core/survey-creator-core.min.css" type="text/css" rel="stylesheet">
<script src="https://unpkg.com/survey-creator-core/survey-creator-core.min.js"></script>
<script src="https://unpkg.com/survey-creator-knockout/survey-creator-knockout.min.js"></script>
<!-- ... -->

<script src="https://unpkg.com/survey-core/survey.i18n.min.js"></script>
<script src="https://unpkg.com/survey-creator-core/survey-creator-core.i18n.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style>
    .sv_q_matrix {
        width: 100% !important;
    }


    .container {
        width: 95% !important;
    }

    .svd_container.sv_default_css #surveyjs .sv_row .svd_question {
        margin-top: 0px !important;
    }

    .svd_container.sv_default_css .svd_properties {
        width: 25% !important;
    }

    .svd_container.sv_default_css .svd_editors {
        width: 60% !important;
    }

    #divUpload {
        text-align: right;
        margin-top: 15px;
    }

        #divUpload button {
            height: 45px;
        }

    .svd_container .svd_content {
        padding-bottom: 70px;
        padding-top: 10px;
    }

    .svd_container .svd_content {
        padding: 0px;
    }

    .svd_container .svd_properties {
        margin-top: 18px;
    }

    .svd_q_selected .svda-add-new-rating-item {
        display: none !important;
    }

    .modal-dialog {
        left: auto !important;
    }

    .sv_body {
        padding: 25px;
    }
</style>







<section class="d-flex landing__content flex-column container">
    <div class="landing__container survey d-flex flex-column">
        <h1 class="m-0">@SurveysResources.EditSurvey : @Model.SurveyTitle</h1>
        <div id="surveyCreator" style="height: 100vh;"></div>
    </div>
</section>



@*<script type="text/javascript" src="./index.js"></script>*@


<span tabindex="0" class="svd_action" id="svd-upload" style="display:none;"><button type="button" class="btn btn-primary" onclick="return UploadTemplate()"><span>Update</span></button></span>



<script type="text/javascript">


      //var mainColor = "#337ab7";
  //var mainHoverColor = "#232f58";
  //var textColor = "#232f58";

  //var defaultThemeColorsEditor = SurveyEditor.StylesManager.ThemeColors["default"];
  //defaultThemeColorsEditor["$primary-color"] = mainColor;
  //defaultThemeColorsEditor["$secondary-color"] = mainColor;
  //defaultThemeColorsEditor["$primary-hover-color"] = mainHoverColor;
  //defaultThemeColorsEditor["$primary-text-color"] = textColor;
  //defaultThemeColorsEditor["$selection-border-color"] = mainColor;

  //SurveyEditor.StylesManager.applyTheme();


    debugger;

    var creator;
    var selectedLang = getLanguage();

    const creatorOptions = {
        showLogicTab: true,
        isAutoSave: false,
        showTranslationTab: true
    };



    Survey.surveyLocalization.supportedLocales = ["en", "ar"];
    SurveyCreator.localization.currentLocale = selectedLang;

    creator = new SurveyCreator.SurveyCreator(creatorOptions);
    creator.toolbox.forceCompact = false;

    var surveyAsJson = '@Model.SurveyText';
    surveyAsJson = surveyAsJson.replace(/\\&quot;/g, '\\\'').replace(/\\/g, "").replace(/&quot;/g, '"').replace(/\\/g, "");
    surveyAsJson = surveyAsJson.replace(/&amp;amp;#39;/g, '\\\\\'').replace(/\\/g, "");
    surveyAsJson = surveyAsJson.replace(/&#39;/g, '\\\\\'').replace(/\\/g, "");
    surveyAsJson = surveyAsJson.replace(/\\&quot;/g, '\\\'').replace(/\\/g, "").replace(/&quot;/g, '"').replace(/\\/g, "")

    if (surveyAsJson == undefined || surveyAsJson == '') {
        surveyAsJson = {
            pages: [{
                name: "Name",
                elements: [{
                    name: "FirstName",
                    title: "Enter your first name:",
                    type: "text"
                }, {
                    name: "LastName",
                    title: "Enter your last name:",
                    type: "text"
                }]
            }]
        };
    }

    creator.text = surveyAsJson;
    creator.saveSurveyFunc = (saveNo, callback) => {
        window.localStorage.setItem("survey-json", creator.text);
        callback(saveNo, true);
        saveSurveyJson(
            "https://your-web-service.com/",
            creator.JSON,
            saveNo,
            callback
        );
    };

    document.addEventListener("DOMContentLoaded", function () {
        creator.render("surveyCreator");
    });

    function saveSurveyJson(url, json, saveNo, callback) {

        UploadTemplate();



    }

    Survey.setLicenseKey(
        "ZDdhYjZhM2YtYTZjZi00MTI1LWFmYjMtMWI5M2RkYjQ0NDgwOzE9MjAyNC0wOC0zMSwyPTIwMjQtMDgtMzEsND0yMDI0LTA4LTMx"
    );


    function UploadTemplate() {

        $.ajax({
            url: "@Url.Action("UpdateTemplate", "Surveys")",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({
                SurveyId:@Model.ID,
                SurveyTitle: creator.survey.title,
                IsRTL: $('#isRTL').is(":checked"),
                SurveyText: JSON.stringify(creator.JSON)
            }),
            success: function (response) {
                if (response.success) {
                    window.location.href = '@Url.Action("Index","Surveys")';
                }
                else {
                    swal("Oops", response.errorMessage, "error")
                }
            }
        });
         return false;
      }



    //function changeLanguage() {




    //    $.ajax({
    //        type: "POST",
    //        url: '/Home/SetLanguage',
    //        data: { "value": $("#ddLangs").val() },
    //        success: function (r) {
    //            switch (currentAction) {
    //                case 'Index':
    //                    survey.locale = $('#ddLangs').val();
    //                    break;

    //                case 'Create':
    //                    window.location.href = "/Home/Create?lang=" + $('#ddLangs').val();
    //                    break;

    //                case 'PollData':
    //                    window.location.href = "/Home/PollData?lang=" + $('#ddLangs').val();
    //                    break;

    //                case 'Dashboard':
    //                    window.location.href = "/Home/Dashboard?lang=" + $('#ddLangs').val();
    //                    break;

    //                case 'Gauge':
    //                    window.location.href = "/Home/Gauge?lang=" + $('#ddLangs').val();
    //                    break;

    //                case 'Table':
    //                    window.location.href = "/Home/Table?lang=" + $('#ddLangs').val();
    //                    break;
    //            }
    //        }
    //    });

    //};





</script>


