@using COE.Common.Model

@model Survey

@{
    ViewBag.Title = "Survey";
}

<title>Use options to customize the Survey Editor, Survey Builder Example</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://unpkg.com/jquery"></script>
<script src="~/Content/surveyjs/survey.jquery.min.js"></script>
<link href="~/Content/surveyjs/survey.min.css" rel="stylesheet" />

<style>

    .sv_q_title {
        font-size: 1.4em !important;
        color: #0b79b8;
    }

    .msgText {
        font-size: 13px;
        color: green;
        font-weight: bold;
        background-color: #f4f4f4;
        margin: 10px 0px 0 0;
        padding: 10px;
    }

    .sv_body {
        border: 0px !important;
    }

    .modal-dialog {
        left: auto !important;
    }

    .sv_select_wrapper {
        width: 200px !important;
    }

    .sv_q_rating_item_text {
        padding: 0 2em !important;
    }

    .sv_main .sv_container .sv_body .sv_p_root > .sv_row {
        background-color: initial !important;
        border-bottom: 0px !important;
    }
</style>



<div class="row">
    <div class="col-md-12">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-question-circle"></i> @Model.SurveyTitle
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                </div>
            </div>
            <form class="portlet-body form">
                <!-- BEGIN FORM-->
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="surveyElement" style="direction:rtl"></div>
                            <div id="surveyResult" style="direction:rtl"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    var wantsToContinue = false;

    var surveyValueChanged = function (sender, options) {
        debugger;

        if ('@Model.ID' == '27' || '@Model.ID' == '28') {
            wantsToContinue = options.value == 'item1';
            if (wantsToContinue) {
                window.survey.completedHtml = "<p></p><p><b>سوف يتم توجيه الصفحة الآن</b></p><p> إذا لم يتم ذلك تلقائياً برجاء الضغط على <a href=\"http://eportal.coe.com.sa/Surveys/Surveys/Answer/28\" style=\"font-size: 16px;color: blue;font-style: italic;\">هذا الرابط</a></p>";
            }
            else {
                window.survey.completedHtml = "<h2 style=\"color:green\"> نشكركم على مشاركتكم في هذا الإستبيان</h2>";
            }
        }
    };

    //var json = '@Model.SurveyText'.replace(/&quot;/g, '\\"').replace(/\\/g, "");
    var json = '@Model.SurveyText'.replace(/&#39;/g, '\'').replace(/&quot;/g, '\\"').replace(/\\/g, "");

    window.survey = new Survey.Model(json);

    if ('@Model.ID' == '27' || '@Model.ID' == '28') {
        window.survey.completedHtml = "<h2 style=\"color:green\"> نشكركم على مشاركتكم في هذا الإستبيان</h2>";
    }

    survey
        .onComplete
        .add(function (result) {
            //

            $.ajax({
                url: '@Url.Action("UploadAnswer","Surveys")' + '?id=@Model.ID' + '&AnswerText=' + JSON.stringify(result.data),
                type: 'post',
                dataType: 'json',
                success: function (data) {

                    if (wantsToContinue) {
                        window.location.href = "http://eportal.coe.com.sa/Surveys/Surveys/Answer/28";
                    }


                    if (data.AlreadyApplied == "1") {
                        $('h3').html('لقد قمت بالتسجيل من قبل')
                    }
                },
                error: function () {
                    alert("Error occured!");
                }
            });
        });



        var selectedLang = getLanguage();
        if ('@Model.IsRTL' == 'true' || '@Model.IsRTL' == 'True') {
            selectedLang = 'ar';
    }

    survey.locale = selectedLang;

    $("#surveyElement").Survey({ model: survey, onValueChanged: surveyValueChanged });

    var mainColor = "#337ab7";
    var mainHoverColor = "#232f58";
    var textColor = "#232f58";

    var defaultThemeColorsEditor = Survey.StylesManager.ThemeColors["default"];
    defaultThemeColorsEditor["$primary-color"] = mainColor;
    defaultThemeColorsEditor["$main-color"] = mainColor;
    defaultThemeColorsEditor["$secondary-color"] = mainColor;
    defaultThemeColorsEditor["$primary-hover-color"] = mainHoverColor;
    defaultThemeColorsEditor["$primary-text-color"] = textColor;
    defaultThemeColorsEditor["$selection-border-color"] = mainColor;

    Survey.StylesManager.applyTheme();

    $(window).on('load', function () {
        $('.svd_commercial_container').remove();
        $(".svd_toolbar").prepend($("#svd-upload"));
        $("#svd-upload").show();
        setInterval(updatetext, 200);

    });


    //$(window).load(function () {

    //});

    function updatetext() {
        $('input[value="Next"]').val('التالي');
        $('input[value="Previous"]').val('السابق');
        $('input[value="Complete"]').val('التالي');
        $("div").find("[data-bind='html: question.locHtml.koRenderedHtml']").addClass('msgText');
    }


</script>
