@using COE.Common.Model;
@using Commons.Framework.Globalization

@model Survey

@{
    ViewBag.Title = String.Format("{0}", @SurveysResources.Publish + " : " + @Model.SurveyTitle);
}

@{
    List<LookupViewModel> modules = ViewBag.Modules;
}

<script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/survey-jquery@1.9.113/survey.jquery.min.js"></script>
<script src="https://unpkg.com/survey-jquery@1.9.113/themes/index.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/survey-jquery@1.9.113/defaultV2.min.css" />

<link rel="stylesheet" href="~/Content/css/bootstrap-datepicker.min.css">
<script src="~/scripts/bootstrap-datepicker.min.js"></script>



 
<section class="d-flex landing__content flex-column container">
    <div class="landing__container survey-approve d-flex flex-column">
        <h1>@SurveysResources.PublishSurvey : @Model.SurveyTitle</h1>

        <h2>@SurveysResources.SurveyData</h2>


        <!-- Error alert container, hidden by default -->
        <div id="errorAlert" class="alert alert-danger" role="alert" style="display: none;">
            <!-- Error message text will go here -->
        </div>

        <form class="row w-100">
            <div class="col-md-6 survey-approve__container d-flex flex-column">
                <!-- Module input -->
                <div>
                    <label class="form-label">@SurveysResources.SelectModule</label>
                    @Html.DropDownListFor(model => model.ModuleId, new SelectList(modules, "Value", "Text"), @SharedResources.DefaultSelect, new { id = "ddlModules", @class = "form-select", aria_label = "Default select example" })
                </div>

                <!-- Title input -->
                <div>
                    <label class="form-label">Title</label>
                    <input class="form-control" placeholder="@SurveysResources.Title" id="sTitle" value="@Model.SurveyTitle" />
                </div>

                <div class="row">
                    <!-- From input -->
                    <div class="col-md-6">
                        <label class="form-label">@SurveysResources.From</label>
                        <input type="date" id="txtStartDate"
                               class="form-control"
                               placeholder="dd/mm/yyyy" />
                    </div>

                    <!-- To input -->
                    <div class="col-md-6">
                        <label class="form-label">@SurveysResources.To</label>
                        <input type="date" id="txtEndDate"
                               class="form-control"
                               placeholder="dd/mm/yyyy" />
                    </div>
                </div>



                <div>
                    <label class="mt-checkbox">
                        <input type="checkbox" id="cBoxAnon" /> @SurveysResources.Allowanonymoususerstoparticipate
                        <span></span>
                    </label>
                </div>

                <div>
                    <label class="mt-checkbox">
                        <input type="checkbox" id="cBoxMult" /> @SurveysResources.Allowmultipleanswersforeachuser
                        <span></span>
                    </label>
                </div>

            </div>



            <div class="col-md-6 mb-3">
                <!-- Description input -->
                <div>
                    <label class="form-label"> @SurveysResources.Description </label>
                    <textarea class="form-control" id="txtDesc"
                              placeholder="@SurveysResources.Description"
                              rows="4"></textarea>
                </div>

                <!-- Action btn -->
                <div class="d-flex survey-approve__actions">
                    <button class="survey-approve__reset-btn" type="button" onclick="return UploadTemplate('false')">
                        @SharedResources.Cancel
                    </button>

                    <button class="survey-approve__approve-btn" type="submit" onclick="return UploadTemplate('true')">
                        @SurveysResources.Publish
                    </button>
                </div>
            </div>
        </form>




    </div>
</section>


<section class="d-flex landing__content flex-column container">
    <div class="landing__container survey-approve d-flex flex-column">
        <h2>@SurveysResources.SurveyReview</h2>
        <div id="surveyContainer">
            <div id="surveyElement"></div>
        </div>
    </div>
</section>


<script type="text/javascript">

    var text = '@Model.SurveyText';
    text = text.replace(/\\&quot;/g, '\\\'').replace(/\\/g, "").replace(/&quot;/g, '"').replace(/\\/g, "");
    text = text.replace(/&amp;amp;#39;/g, '\\\\\'').replace(/\\/g, "");
    text = text.replace(/&#39;/g, '\\\\\'').replace(/\\/g, "");
    text = text.replace(/&#39;/g, '\'').replace(/&quot;/g, '\\"').replace(/\\/g, "");
    var surveyJson = JSON.parse(text);

    const survey = new Survey.Model(surveyJson);
    var selectedLang = getLanguage();
    survey.locale = selectedLang;
    survey.mode = "display";

    $("#surveyElement").Survey({ model: survey });

    $(window).on('load', function () {
        $('.svd_commercial_container').remove();
        $("#svd-upload").show();


        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
        var yyyy = today.getFullYear();
        $('#txtStartDate').attr('min', yyyy + '-' + mm + '-' + dd);


        // When start date changes, set end date to two weeks later
        $('#txtStartDate').change(function () {
            var startDate = new Date($(this).val());
            var endDate = new Date(startDate.getFullYear(), startDate.getMonth(), startDate.getDate() + 14);

            var dd = String(endDate.getDate()).padStart(2, '0');
            var mm = String(endDate.getMonth() + 1).padStart(2, '0'); // January is 0!
            var yyyy = endDate.getFullYear();

            $('#txtEndDate').val(yyyy + '-' + mm + '-' + dd);
        });

    });



    function UploadTemplate(choice) {
        $('#errorAlert').text('').hide();

        if (choice == 'false') {
            window.location.href = '@Url.Action("Index","Surveys")';
            return false;
        }

        showLoading();

        var selectedItems = new Array();

        selectedItems.push($('#sTitle').val());
        selectedItems.push($('#txtDesc').val());
        selectedItems.push(formatDateToDDMMYYYY($('#txtStartDate').val()));
        selectedItems.push(formatDateToDDMMYYYY($('#txtEndDate').val()));
        selectedItems.push($('#ddlModules').val());
        selectedItems.push('@Model.ID');
        selectedItems.push($('#cBoxAnon').is(":checked"));
        selectedItems.push($('#cBoxMult').is(":checked"));


        $.ajax({
            url: '@Url.Action("PublishSurvey", "Surveys")',
            type: 'POST',
            dataType: 'JSON',
            data: { surveyItems: selectedItems },
            success: function (data) {

                hideLoading();

                if (data.success == true) {
                    window.location.href = '@Url.Action("Index", "Surveys")';
                }
                else {
                    $('#errorAlert').text(data.errorMessage).show();
                }
            },
            error: function (data) {

                hideLoading();
                $('#errorAlert').text('Error Occured').show();
            }
        });

        return false;
    }

</script>
