@using COE.Common.Model

@model SurveyAnswer

@{
    ViewBag.Title = "Survey | " + Model.Survey.SurveyTitle;
    var dir = Model.Survey.IsRTL ? "right" : "left";
    var completeBtnPos = Model.Survey.IsRTL ? "left" : "right";
}

<title>Survey | @ViewBag.Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1">


<script type="text/javascript" src="~/scripts/jquery.min.js"></script>


<link rel="stylesheet" href="https://unpkg.com/survey-core@2.0.4/survey-core.min.css" />
<script type="text/javascript" src="https://unpkg.com/survey-jquery/survey.jquery.min.js"></script>


<script src="https://unpkg.com/survey-core/survey.i18n.min.js"></script>



<section class="d-flex landing__content flex-column container">
    <div class="landing__container survey-answer d-flex flex-column">
        <h1>@SurveysResources.SurveyParticipationView</h1>

        <h2>@Model.Survey.SurveyTitle</h2>

        <div id="surveyContainer"></div>
    </div>
</section>




<script type="text/javascript">

    var json = '@Model.SurveyText'.replace(/\\&quot;/g, '\\\'').replace(/\\/g, "").replace(/&quot;/g, '"').replace(/\\/g, "");
    var answerJson = '@Model.AnswerText'.replace(/\\&quot;/g, '\\\'').replace(/\\/g, "").replace(/&quot;/g, '"').replace(/\\/g, "");

    var surveyJson = JSON.parse(json);

    const survey = new Survey.Model(surveyJson);
    survey.data = JSON.parse(answerJson);
    survey.focusFirstQuestionAutomatic = false;
    Survey.surveyLocalization.supportedLocales = ["en", "ar"];

    var selectedLang = getLanguage();
    survey.locale = selectedLang;
    survey.mode = "display";

    $(function () {
        $("#surveyContainer").Survey({ model: survey });
    });

    Survey.setLicenseKey(
        "ZDdhYjZhM2YtYTZjZi00MTI1LWFmYjMtMWI5M2RkYjQ0NDgwOzE9MjAyNC0wOC0zMSwyPTIwMjQtMDgtMzEsND0yMDI0LTA4LTMx"
    );




</script>
